html
	head
		title In Development!
		meta(charset="utf-8")
		//- Write this link tag to apply ./styles/style.scss
		link(rel="stylesheet",href="static/style.css")
	body
		h1 Hello, World!
		p This is normal style of h1 and p tags
		h1.deco-title Decorated by ./styles/style.scss
		p.deco-text You can modify this decoration by editing the .scss file
